@media (max-width: 425px) {
  #scene-text {
    font-size: 18px;
  }

  #scene-image {
    max-width: 225px;
    max-height: 220px;
  }

  #description-text {
    font-size: 16px;
  }

  #start-image {
    max-width: 250px;
    max-height: 220px;
  }

  #start-text {
    font-size: 18px;
  }

}

@media (max-width: 330px) {
  #scene-text {
    font-size: 16px;
  }

  #scene-image {
    max-width: 200px;
    max-height: 180px;
  }

  #description-text {
    font-size: 14px;
  }

  #start-image {
    max-width: 200px;
    max-height: 180px;
  }

  #start-text {
    font-size: 16px;
  }
}

@media (max-width: 310px) {
  #scene-text {
    font-size: 14px;
  }

  #scene-image {
    max-width: 180px;
    max-height: 160px;
  }

  #description-text {
    font-size: 12px;
  }

  #start-image {
    max-width: 180px;
    max-height: 160px;
  }

  #start-text {
    font-size: 14px;
  }
}