@media (max-width: 600px) {
  #scene-text {
    font-size: 20px;
  }

  #scene-image {
    max-width: 280px;
    max-height: 260px;
  }

  #description-text {
    font-size: 18px;
  }

  #start-image {
    max-width: 300px;
    max-height: 260px;
  }

  #start-text {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  #scene-text {
    font-size: 18px;
  }

  #scene-image {
    max-width: 250px;
    max-height: 220px;
  }

  #description-text {
    font-size: 16px;
  }

  #start-image {
    max-width: 250px;
    max-height: 220px;
  }

  #start-text {
    font-size: 18px;
  }

}